@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

html, body{
	@apply bg-white dark:text-neutral-50 dark:bg-black/95 transition-colors;
}

body::after{
	content: "";
	pointer-events: none;
	position: fixed;
	inset: -100px;
	mix-blend-mode: overlay;
	background:
			url(https://grainy-gradients.vercel.app/noise.svg) !important;

}

body{
	@apply p-4;
}
